<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="'width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />

        <title>
            {% block title %}
            Typing Speed Test
            {% endblock %}
        </title>
    </head>

    <body>

        <link rel="stylesheet" type="text/css" href="static/styles.css">

        <div class="top-right">
            <button id="login" class="login-button">Login</button>
        </div>

        <div class="second-top-right">
            <button id="sign-up" class="login-button">Sign Up</button>
        </div>

        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close-button" id="closeModalButton">&times;</span>
                <h2>Login</h2>
                <p>Username</p>
                <input spellcheck="false" id="user" class="login" placeholder="username">
                <p>Password</p>
                <input spellcheck="false" id="password" class="login" placeholder="password">
                <br>
                <button id="logUser">Login</button>
            </div>
        </div>


        <div id="sign-up-modal" class="modal">
            <div class="modal-content">
                <span class="close-button" id="closeSignUpButton">&times;</span>
                <h2>Sign Up</h2>
                <p>Email</p>
                <input spellcheck="false" id="email" class="login" placeholder="email">
                <p>Username</p>
                <input spellchedk="false" id="usernameSet" class="login" placeholder="username">
                <p>Password</p>
                <input spellcheck="false" id="passwordSet" class="login" placeholder="password">
                <p>Confirm Password</p>
                <input spellcheck="false" id="confirmPasswordSet" class="login" placeholder="password">
                <br>
                <button id="signUser">Sign up</button>
            </div>
        </div>

        
        
        <h1 align="center">Typing Speed Test</h1>


        <div class="container">
            <div class="box">
                <div class="number" id="WPM">0</div>
                <div class="word">Words/Min</div>
            </div>
            <div class="box">
                <div class="number" id="topSpeed">0</div>
                <div class="word">Top Speed</div>
            </div>
            <div class="box">
                <div class="number" id="accuracy">0</div>
                <div class="word">% Accuracy</div>
            </div>
            <div class="box">
                <div class="number" id="record">0</div>
                <div class="word">All-time Record</div>
            </div>
        </div>

        <div class="container">
            <div class="clockbox">
                <div id="countdown">60.0</div>
            </div>
        </div>

        <div class="input-container">
            
            <span class="pseudo-placeholder" id="textSpot"></span>
            <!-- <span class="pseudo-placeholder" id="text2">dlsfkjafk</span> -->
            <input type="text" spellcheck="false" id="username" class="input-field">
            <!-- <audio id="typewriter-sound" src="typewriter.mp3" preload="auto"></audio> -->
        </div>

        <script 
        type="text/javascript" 
        src="{{ url_for('static', filename='signUp.js')}}"
        ></script>

        <script src="static/login.js"></script>

        <script 
        type="text/javascript"
        src="{{ url_for('static', filename='clock.js')}}"
        ></script>

        <script
        type="text/javascript"
        src="{{ url_for('static', filename='placeHolderChange.js')}}"
        ></script>

    </body>
</html>